body {
  background-color: #eaf1f2;
  font-family: "Muli", sans-serif;
}
/*Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding: 15px;
  font-size: 1.6rem;
}

input[type="search"] {
  padding: 10px 40px;
  text-align: center;
  border: 1px solid #b6b6ba;
  border-radius: 20px;
}
input[type="search"]:focus {
  border: 1px solid #254f60;
  outline: none;
}

/*Gallery */
.gallery-container {
  max-width: 1000px;
  margin: 0 auto;
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

li {
  padding: 15px;
}

.hide {
  display: none;
  padding: 0;
}

img {
  border-radius: 5px;
}

.lb-data .lb-caption {
  font-size: 14px;
  max-width: 300px;
  line-height: 1.6;
}

.lb-data .lb-details {
  text-align: left;
  padding-top: 15px;
}


.lb-close {
  margin-top: 15px;
}

/*Media Queries*/

@media (min-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .lb-data .lb-caption {
    font-size: 16px;
    max-width: 600px;
    
  }

}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}
